@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {

    font-family: 'Poppins', sans-serif;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 3px 10px rgba(o, 0, 0, 0.15) !important;
}

.slider-img {
    /* min-height: 650px; */
    filter: brightness(0.3);
}

.fnt-s-3 {
    font-size: 3rem;
}



@media (max-width:576px) {
    .mobile-nav {
        background-color: black !important;
    }

    .slider {
        margin-top: 3.5rem !important;
    }

    .slider .carousel-indicators {
        margin-bottom: 0.3rem !important;
    }

    .slider-caption {

        gap: 0 !important;

    }

    .slider-caption p {
        font-size: 10px !important;
    }

    .slider-caption h1 {
        font-size: 1rem !important;
    }

    .slider-caption button {
        font-size: 10px !important;
        padding: 4px 8px !important;

    }
}